[build]
  base = "fullload3d"
  command = "npm ci --legacy-peer-deps --no-optional && npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "22"
  NPM_FLAGS = "--legacy-peer-deps --no-optional"
